.Footersection{
    background-color:#FC6B02;
    padding: 10%;
  }
  .Footer{
    color: #FEEFE8;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footerheadtext{
    font-family: Poppins;
  font-size: 23px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: -0.02em;
  text-align: left;
  }
  .footersubtext{
  width: 100%;
  
  }
  .footersubtxt{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  text-overflow: clip;
  padding-top: 5%;
  max-width: 384px;
  }
  .footerapplink{
    display: flex;
    flex-direction: column;
  }
  .footerlink{
    background-color:#582501;
    width: 149.69px;
    padding: 5px 7px 0px 7px;
    border-radius: 4.51px;
    
  }
  .footerlink{
    margin-top: 20px;
  }
  .Footnavlinks{
    padding-top: 7%;
    padding-bottom: 1%;
    border-bottom: 0.71px solid #FEEFE8;
    display: flex;
    gap: 43px;
  }
  .Footnavlinks >a{
    text-decoration: none;
    color: white;
  }
  .sociallinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .copyright{
    font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;
  color: #FEEFE8;
  }
  .socialimg{
    display: flex;
    gap: 20px;
  }