
body{
font-family: 'poppins', sans-serif;
margin: 0;
padding: 0;
overflow-x: hidden;
}

/* mobile screens */
@media only screen and (max-width: 600px) {
.Navbar{
    justify-content: space-between;
    max-height: 5em !important;
    /* height: 1 !important; */
    padding-left: 5% !important;
    padding-right: 5% !important;
    max-width:79% !important;
}
#Navbarlinks{display: none;}
.navbutton{display: none !important;}

.navbtn{
    display: flex;
    background: #57200A;
    border-radius: 7px;
    width: 156px;
    height: 42px;
}
.menu-container {
    display: flex !important;
    justify-content: right !important; /* Align to the top right */
}
#toggle-btn,
#exit-btn {
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    top: 0;
   display: flex !important;
   justify-self: right !important;
  
}

#menu {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    padding-bottom: 100em !important;
    width: 100% !important;
    max-height: 100% !important;
    background-color: #FC6B02;
    display: none;
    flex-direction: column;
    padding-left:5% ;
    box-sizing: border-box;
    z-index: 5;
}
.exiticon{
    display: flex;
    justify-content: right; 
    padding: 5%;
}
#menu ul {
    list-style: none;
    top: 0;
    bottom: 0 !important;
    left: 0 !important;
    padding-left: 0%;
    margin: 0;
    background-color: #FC6B02;
}
#menu li {
    margin-bottom: 20px;
}
#menu a {
    text-decoration: none;
    color: white;
    background-color: #FC6B02;
}
.herosection{
    display: block !important;
    justify-content: center;
    padding-top: 8em;
    gap: 1.9em;
    background-color: #FC6B02;
    color: white;
    padding-left: 5% !important;
    padding-right: 5% !important;
    }
.aboutbillz{
    max-width: 25em !important;
    max-height: 56.25em !important;
    width:100% !important;
    height: 100% !important;
}
.herotext{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.cheap{
    font-size: 25px !important;
    line-height: normal !important;
}
.why{
    font-size: medium !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.list{
    font-size: medium !important;
}
#heroapplnk{
    justify-content: center !important;
    padding: 5% !important;
}
.heroimg > svg{
    padding-top: 5% !important;
    width: 100% !important;
    height: 100% !important;
    max-width: 25em !important;
    max-height: 75em !important;
}

.subsection{
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 2%;
}
.trusted{
    font-size:20px !important;
}
.connect{
    font-size: small !important;
}
#trusted{
    padding-top: 1.7em !important;
    padding-bottom: 1.7em !important;
    width: 100% !important;
    max-width: 600px !important;
}

.content-section{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    padding-top:5em !important;
    padding-bottom: 10%; 
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.services{
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.unlock{
    font-size: 20px !important;
    line-height: normal !important;
}
.unlocktext{
    font-size: small !important;
    padding-top: 2% !important;
    line-height: normal !important;
}
.contentimg > img{
    max-width: 600px !important;
    max-height: 100% !important;
    border-radius: 28.14px ;
    width: 100% !important;
    height: 100% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
    }
.experience{
    font-size: 23px !important;
    line-height: 25px !important;
}
.subexp{
    font-size: small !important;
    line-height: normal !important;
    padding-bottom: 5% !important;
}
.Personalizedsection{
    display: block !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.personalized{
    display: block !important;
    max-width: 400px;
    max-height: fit-content !important;
    padding-top: 5% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-bottom: 5% !important;
}
.intuitive{
    display: block !important;
    max-width: 600px !important;
    max-height: fit-content !important;
    margin-top: 5% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-bottom: 10% !important;
}
.fintec{
    width:100%  !important;
}
.personalizedtext{
    max-width: 600px !important;
    padding-top: 5% !important;
    text-align: center !important;
    text-overflow: clip;
}
.personaltext{
    text-align: center !important;
    font-size: 23px !important;
    font-weight: 700 !important;
}
.personalsubtxt{
    padding-bottom: 2%;  
    text-align: center !important;  
    max-width: 600px !important;
    width: 100% !important;
    margin: auto !important;
}

.personalrgtimg > svg{
    max-width: 600px !important;
    width: 100% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}
.withdrawsection{
    display: block !important;
    padding-left: 5% !important;
padding-right: 5% !important;
padding-bottom: 7% !important;
}

.framesec{
    max-width: 600px !important;
    width: 100% !important;
}
.servic{
    width: 100% !important;
}
.allsection{
    display: none;
}
.getapp{
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.getapptext{
    font-size: 23px !important;
}
#getapptext{
    font-size: small !important;
    line-height: normal !important;
    text-overflow: clip !important;
}
#leftarrow{
    display: none;
}
#rightarrow{
    display: none;
}
.reasons{
    padding: 5% !important;
}
.reason-headtext{
    font-size: 23px !important;
    max-width: 400px !important;
    line-height: normal !important;
}
.reasontxt{
    font-size: small !important;
}
.reason-section{
    display: flex !important;
    flex-direction: column !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.reason-img >img{
    max-width: 600px !important;
    width: 100% !important;
}
.mode{
    display: flex !important;
    flex-direction: column !important;
    padding-left: 0% !important;
}
.mode-headtext{
    font-size: 23px !important;
    line-height: normal !important;
}
.mode-img >img{
    max-width: 600px !important;
    width: 100% !important;
    line-height: normal !important;
  
}
.mode-text{
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.modetxt{
    font-size: small !important;
}
.question{
    display:block !important;
    padding: 5% !important; 
    margin-bottom: 5% !important;
}
.faqhd{
font-size: 23px !important;
line-height: normal !important;
}
.faqdetails{
    font-size: small !important;
    line-height: normal !important;
}
.Questiontwo{
    padding-top: 10% !important;
}
.contensection{
    font-size: small !important;
}
.office{
    padding-top: 7% !important;
    padding-bottom: 7% !important;
}

.ourcontacts{
    display: block !important;
    padding-left: 5%!important;
    padding-right: 5% !important;
}
.Email{
    max-width: 600px !important;
    max-height: 100% !important;
    text-align: center;
    }
.office{
    max-width: 600px !important;
    max-height: 100% !important;
    text-align: center;
    }
.phonenum{
    max-width: 600px !important;
    max-height: 100% !important;
    text-align: center;
    }
.Footersection{
    display: block !important;
    padding:5% !important ;
}
.Footer{
    display: block !important;
}
.footersubtxt{
    max-width: 400px !important;
}
.footersubtxt{
    max-width: 40px;
}
.footerapplink{
    display: flex;
    flex-direction: row !important;
    gap: 5%;
}
.Footnavlinks{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    padding-top: 5%;
}
.sociallinks{
    display: flex !important;
    flex-direction: row-reverse !important;
    gap: 0px !important;
    padding-top:5% ;
}
.socialimg{
    display: flex !important;
    justify-content: space-between !important;
    gap: 10px !important;
}
.copyright{
    font-size: smaller !important;
}
}

/* Styles for medium screens and up */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Your CSS styles for medium screens go here */
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.Navbar{
    max-height: 3.125em !important;
    height: 100% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
    max-width: 90% !important;
}
#Navbarlinks{
    display: none !important;
}
.navbutton{
    display: none !important;
}
.navbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #57200A;
    border-radius: 7px;
    width: 156px;
    height: 42px;
}
.menu-container {
    display: flex !important;
    justify-content: right !important; /* Align to the top right */
}
#toggle-btn,
#exit-btn {
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    top: 0;
   display: flex !important;
   justify-self: right !important;
  
}

#menu {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    padding-bottom: 100em !important;
    width: 100% !important;
    max-height: 100% !important;
    background-color: #FC6B02;
    display: none;
    flex-direction: column;
    padding-left:5% ;
    box-sizing: border-box;
    z-index: 5;
}
.exiticon{
    display: flex;
    justify-content: right; 
    padding: 5%;
}
#menu ul {
    list-style: none;
    top: 0;
    bottom: 0 !important;
    left: 0 !important;
    padding-left: 0%;
    margin: 0;
    background-color: #FC6B02;
}
#menu li {
    margin-bottom: 20px;
}
#menu a {
    text-decoration: none;
    color: white;
    background-color: #FC6B02;
}
.herosection{
    display: flex !important;
    justify-content: space-between !important;
    padding-top: 8em;
    gap: 1.9em;
    background-color: #FC6B02;
    color: white;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-bottom:5% !important ;
    margin-bottom: 4% !important;
}
.aboutbillz{
    max-width: 50% !important;
    max-height: 56.25 !important;
    width:100% !important;
    height: 100% !important;
}
.herotext{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.cheap{
    font-size: 25px !important;
    line-height: normal !important;
}
.why{
    font-size: medium !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.list{
    font-size: medium !important;
}
#heroapplnk{
    justify-content: center !important;
    padding: 5% !important;
}
.heroimg > svg{
    padding-top: 5% !important;
    width: 100% !important;
    height: 100% !important;
    max-height: 75em !important;
    }     
.subsection{
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.content-section{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    padding-top:5em !important;
    padding-bottom: 10%; 
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.textcontent{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    max-width: 100% !important;
    width: 100%;
}
#center{
    margin: auto !important;
}
#contentsec{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.contentimg > img{
    max-width: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    border-radius: 28.14px ;
    padding-left: 0% !important;
    padding-right: 0% !important;
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}
.Personalizedsection{
    display: block !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.personalized{
    display: flex !important;
    max-width: 800px;
    max-height: fit-content !important;
    padding-bottom: 5% !important;
}
.intuitive{
    max-width: 100% !important;
    max-height: 200em !important;
    width: 100% !important;
    padding-left: 0em !important;
    
}
.fintec{
    width:100%  !important;
}
.personalizedtext{
    max-width: 311px !important;
    padding-top: 5% !important;
    text-align: center !important;
    text-overflow: clip;
}
.personaltext{
    text-align: center !important;
}
.personalsubtxt{
    padding-bottom: 2%;   
}
.personalizedapplink > a{
    display: flex !important;
    justify-content: center !important;
}
.personalrgtimg > svg{
    display: none;
}
.withdrawsection{
    padding-left: 5%;
    padding-right: 5%;
}
.framesec{
    display: none !important;
}
.servic{
    max-width: 800px !important;
}
.allsection{
    display: flex !important;
    max-width: 100% !important;
    gap: 4em;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.personergtimg > svg {
    display: flex !important;
    flex-direction: column !important;
}
.personergtimg{
    width: 45% !important;
}
.framesecnd {
    display: flex !important;
    flex-direction: column !important;
    max-width: 45% !important;
}
.experience{
    font-size: 23px;
    line-height: 40px !important;
}
.reasons{
    padding: 5% !important;
}
.reason-headtext{
    font-size: 23px !important;
    max-width: 400px !important;
    line-height: normal !important;
}
.reasontxt{
    font-size: small !important;
}
.reason-section{
    display: flex !important;
    flex-direction: row !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.reason-img >img{
    max-width: 20em !important;
}
.mode{
    display: flex !important;
    flex-direction: row !important;
    gap:10px !important;
    padding-left: 2em !important;
}
.mode-headtext{
    font-size: 23px !important;
    line-height: normal !important;
}
.mode-img >img{
    max-width: 20em !important;
    line-height: normal !important;
}
.mode-text{
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.modetxt{
    font-size: small !important;
}
.ourcontacts{
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.question{
    display: block !important;
    padding-top: 5% !important;
    margin-bottom: 5% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}
.Questiontwo{
    max-width: 100% !important;
}
.Footersection{
    padding: 5% !important;
}
}