
.reasons{
    background-color:#D9D9D9;
    padding: 10%;
}
.reason-section{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding-left: 5em;
    padding-right: 2rem;
    padding-top:21px;
    padding-bottom: 21px;
    border-radius: 14px;
}
.reason-text{
    max-width: 462px;
    text-overflow: clip;
}
.reason-headtext{
font-family: Poppins;
font-size: 38px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
max-width: 462px;
color:#713001 ;
}
.reasontxt{
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #0B454F;
}
.reason-text >a{
    text-decoration: underline;
    color:#A80936 ;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    }
.reason-img >img{
    border-radius: 14px;
   
}
.mode{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: white;
    margin-top: 5%;
    padding-left: 2rem;
    padding-top: 21px;
    padding-bottom: 21px;
    border-radius: 14px;
}
.mode-text{
    max-width: 472px;
}
.mode-text >a{
text-decoration: underline;
color:#A80936 ;
font-family: Poppins;
font-size: 17px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}
.mode-headtext{
font-family: Poppins;
font-size: 38px;
font-weight: 800;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
color: #713001;
text-overflow: clip;
}
.modetxt{
font-family: Poppins;
font-size: 17px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: #0B454F;
}